<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  
  <connectionStrings>
    <!--<add name="SqlServer" connectionString="Data Source=201.161.101.69;Initial Catalog=tableroMidoEscolares; Password=AuZMmGaX.SqL1;User ID=sa;Connection Timeout=50; Min Pool Size=5; Max Pool Size=100; " providerName="System.Data.OleDb"/>-->
	  <add name="SqlServer" connectionString="Data Source=104.210.135.118;Initial Catalog=TableroSIVEMMSPruebas; Password=cQZ6Zbzc9uYqY3CuwRHU;User ID=TableroSIVEMMSPruebas_user;Connection Timeout=50; Min Pool Size=5; Max Pool Size=100; " providerName="System.Data.OleDb"/>

  </connectionStrings>

</configuration>